# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[workspace]

members = [
  "file_agent",                  # ignore
  "services/access_control/app",
  "services/authentication/app",
  "services/storage/app",
  "services/execution/app",
  "services/frontend/app",
  "services/management/app",
  "services/scheduler/app",
  "tests/unit/app",
  "tests/functional/app",
  "tests/integration/app",
  "tools/sgx_tool/app",
]

exclude = [
]

[patch.crates-io]
# We cannot remove these crates, because proto crates depend on them
sgx_crypto        = { path = "../../../third_party/rust-sgx-sdk/sgx_crypto" }
sgx_cov           = { path = "../../../third_party/rust-sgx-sdk/sgx_tests/cov" }
sgx_libc          = { path = "../../../third_party/rust-sgx-sdk/sgx_libc" }
sgx_macros        = { path = "../../../third_party/rust-sgx-sdk/sgx_macros" }
sgx_rand          = { path = "../../../third_party/rust-sgx-sdk/sgx_rand" }
sgx_tprotected_fs = { path = "../../../third_party/rust-sgx-sdk/sgx_protected_fs/tfs" }
sgx_tse           = { path = "../../../third_party/rust-sgx-sdk/sgx_tse" }
sgx_types         = { path = "../../../third_party/rust-sgx-sdk/sgx_types" }
sgx_urts          = { path = "../../../third_party/rust-sgx-sdk/sgx_urts" }

rustface          = { git = "https://github.com/apache/incubator-teaclave-crates" }
rusty-machine     = { git = "https://github.com/apache/incubator-teaclave-crates" }