# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[workspace]

# every member should take its own line,
# and for those to exclude from cmake build, just append the '# ignore'
# annotation suffix
members = [
  "dcap",
  "cli",
  "sdk/rust", # ignore
]

exclude = [
]

[patch.crates-io]

sgx_cov           = { path = "../../../third_party/rust-sgx-sdk/sgx_tests/cov" }
sgx_crypto        = { path = "../../../third_party/rust-sgx-sdk/sgx_crypto" }
sgx_libc          = { path = "../../../third_party/rust-sgx-sdk/sgx_libc" }
sgx_rand          = { path = "../../../third_party/rust-sgx-sdk/sgx_rand" }
sgx_tprotected_fs = { path = "../../../third_party/rust-sgx-sdk/sgx_protected_fs/tfs" }
sgx_tse           = { path = "../../../third_party/rust-sgx-sdk/sgx_tse" }
sgx_trts          = { path = "../../../third_party/rust-sgx-sdk/sgx_trts" }
sgx_types         = { path = "../../../third_party/rust-sgx-sdk/sgx_types" }
