[submodule "third_party/crates-sgx"]
	path = third_party/crates-sgx
	url = https://github.com/mesalock-linux/crates-sgx.git
[submodule "third_party/rust-sgx-sdk"]
	path = third_party/rust-sgx-sdk
	url = https://github.com/baidu/rust-sgx-sdk.git
[submodule "third_party/mesapy"]
	path = third_party/mesapy
	url = https://github.com/mesalock-linux/mesapy.git
	branch = sgx
