use anyhow;
use teaclave_rpc;
use core::convert::TryFrom;
use teaclave_types::TeaclaveServiceError;
use std::prelude::v1::*;

type Result<T> = std::result::Result<T, TeaclaveServiceError>;

#[derive(Clone, serde_derive::Serialize, serde_derive::Deserialize, Debug)]
#[serde(tag = "type", rename_all = "snake_case")]
pub enum {{ service.proto_name }}Request {
    {% for m in service.methods %}
    {{ m.proto_name }}({{ m.input_type }}),
    {% endfor %}
}

#[derive(Clone, serde_derive::Serialize, serde_derive::Deserialize, Debug)]
#[serde(tag = "type", rename_all = "snake_case")]
pub enum {{ service.proto_name }}Response {
    {% for m in service.methods %}
    {{ m.proto_name }}({{ m.output_type }}),
    {% endfor %}
}

pub trait {{ service.proto_name }} {
    {% for m in service.methods %}
    fn {{ m.name }}(request: super::{{ m.input_type }}) -> Result<super::{{ m.output_type }}>;
    {% endfor %}
    fn dispatch(&self, request: {{ service.proto_name }}Request) -> Result<{{ service.proto_name }}Response> {
        match request {
            {% for m in service.methods %}
            {{ service.proto_name }}Request::{{ m.proto_name }}(request) => {
                let request = super::{{ m.input_type }}::try_from(request)
                    .map_err(|_| TeaclaveServiceError::InternalError("internal".to_string()))?;
                let response = Self::{{ m.name }}(request)?;
                let response = {{ m.output_type }}::from(response);
                Ok(response).map({{ service.proto_name }}Response::{{ m.proto_name }})
            },
            {% endfor %}
        }
    }
}

pub struct {{ service.proto_name }}Client {
    channel: teaclave_rpc::channel::SgxTrustedTlsChannel<{{ service.proto_name }}Request, {{ service.proto_name }}Response>,
}

impl {{ service.proto_name }}Client {
    pub fn new(channel: teaclave_rpc::channel::SgxTrustedTlsChannel<{{ service.proto_name }}Request, {{ service.proto_name }}Response>) -> anyhow::Result<Self> {
        Ok(Self { channel })
    }

    {% for m in service.methods %}
    pub fn {{ m.name }}(&mut self, request: {{ m.input_type }}) -> Result<{{ m.output_type }}> {
        let request = {{ service.proto_name }}Request::UserLogin(request);
        let response = self.channel.invoke(request)
            .map_err(|_| TeaclaveServiceError::InternalError("internal".to_string()))?;
        match response {
            {{ service.proto_name }}Response::{{ m.proto_name }}(response) => Ok(response),
            {% if service.methods.len() > 1 -%}
            _ => Err(TeaclaveServiceError::InternalError("internal".to_string()),
            {% endif %}
        }
    }
    {% endfor %}
}