# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Test-ubuntu-20.04
on: [push, pull_request, workflow_dispatch]
defaults:
  run:
    shell: bash

jobs:
  sim-debug-unit:
    runs-on: ubuntu-20.04
    container: teaclave/teaclave-build-ubuntu-2004-sgx-2.15.1:0.1.3
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          . cmake/scripts/build_in_ci.sh
      - name: Run unit test
        run: |
          export AS_SPID="00000000000000000000000000000000" &&
          export AS_KEY="00000000000000000000000000000000" &&
          export AS_ALGO="sgx_epid" &&
          export AS_URL="https://api.trustedservices.intel.com:443" &&
          . ~/.cargo/env &&
          cd build &&
          make run-unit-tests
  sim-debug-integration:
    runs-on: ubuntu-20.04
    container: teaclave/teaclave-build-ubuntu-2004-sgx-2.15.1:0.1.3
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          . cmake/scripts/build_in_ci.sh
      - name: Run integration test
        run: |
          export AS_SPID="00000000000000000000000000000000" &&
          export AS_KEY="00000000000000000000000000000000" &&
          export AS_ALGO="sgx_epid" &&
          export AS_URL="https://api.trustedservices.intel.com:443" &&
          . ~/.cargo/env &&
          cd build &&
          make run-integration-tests
  sim-debug-functional:
    runs-on: ubuntu-20.04
    container: teaclave/teaclave-build-ubuntu-2004-sgx-2.15.1:0.1.3
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          . cmake/scripts/build_in_ci.sh
      - name: Run functional tests
        run: |
          export AS_SPID="00000000000000000000000000000000" &&
          export AS_KEY="00000000000000000000000000000000" &&
          export AS_ALGO="sgx_epid" &&
          export AS_URL="https://api.trustedservices.intel.com:443" &&
          . ~/.cargo/env &&
          cd build &&
          make run-functional-tests
  sim-debug-sdk:
    runs-on: ubuntu-20.04
    container: teaclave/teaclave-build-ubuntu-2004-sgx-2.15.1:0.1.3
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          . cmake/scripts/build_in_ci.sh
      - name: Run sdk test
        run: |
          export AS_SPID="00000000000000000000000000000000" &&
          export AS_KEY="00000000000000000000000000000000" &&
          export AS_ALGO="sgx_epid" &&
          export AS_URL="https://api.trustedservices.intel.com:443" &&
          . ~/.cargo/env &&
          cd build &&
          make run-sdk-tests
  sim-debug-example:
    runs-on: ubuntu-20.04
    container: teaclave/teaclave-build-ubuntu-2004-sgx-2.15.1:0.1.3
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          . cmake/scripts/build_in_ci.sh
      - name: Run examples
        run: |
          export AS_SPID="00000000000000000000000000000000" &&
          export AS_KEY="00000000000000000000000000000000" &&
          export AS_ALGO="sgx_epid" &&
          export AS_URL="https://api.trustedservices.intel.com:443" &&
          . ~/.cargo/env &&
          cd build &&
          make run-examples
  sim-debug-cancel:
    runs-on: ubuntu-20.04
    container: teaclave/teaclave-build-ubuntu-2004-sgx-2.15.1:0.1.3
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          . cmake/scripts/build_in_ci.sh
      - name: Run cancel test
        run: |
          export AS_SPID="00000000000000000000000000000000" &&
          export AS_KEY="00000000000000000000000000000000" &&
          export AS_ALGO="sgx_epid" &&
          export AS_URL="https://api.trustedservices.intel.com:443" &&
          . ~/.cargo/env &&
          cd build &&
          make run-cancel-test
